<div id="errorbox" ng-if="vm.error">
	{{ vm.error }}
</div>

<div id="thankyoubox" ng-if="vm.hasScore">
	<p>--- GAME OVER ---</p>
	<p>THANK YOU FOR PLAYING</p>
	<p>YOUR SCORE IS<br/ >{{ vm.score }}</p>

	<div id="inputbox" ng-if="vm.canSave">
		<p>ENTER YOUR NAME FOR HIGHSCORE</p>

		<form name="vm.nameInputForm" ng-submit="vm.addScore()">
			<input type="text" placeholder="Enter name" ng-model="vm.nameField" autocapitalize="none" maxlength=20 required>
			<button type="submit">Save</button>
		</form>
	</div>

	<p ng-if="vm.canSave">&lt;&lt; or <button class="nobutton" ng-click="vm.playAgain()">PLAY AGAIN</button></p>
	<p ng-if="!vm.canSave">&lt;&lt; <button class="nobutton" ng-click="vm.playAgain()">PLAY AGAIN</button></p>

</div>

<div id="thankyoubox" ng-if="!vm.hasScore">
	<p>WELCOME TO TETRIS</p>
	<p><a href="/" target="_self">&lt;&lt; CLICK HERE TO PLAY</a></p>
</div>

<p class="divider">----- (*^v^) -----</p>

<div class="scoreboard" ng-if="vm.weekly">
	<h2>WEEKLY HIGHSCORE</h2>
	<div ng-repeat="entry in vm.weekly track by $index">
		<div class="row row-first" ng-show="$index == 0">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-second" ng-show="$index == 1">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-third" ng-show="$index == 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row" ng-show="$index > 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
	</div>
	<p>Weekly scores will be reset {{ vm.nextUpdate }}</p>
</div>

<div class="scoreboard" ng-if="!vm.weekly">
	<h2>WEEKLY HIGHSCORE</h2>
	<p>There isn't any weekly scores (yet)!</p>
</div>

<div class="scoreboard" ng-if="vm.alltime">
	<h2>ALLTIME HIGHSCORE</h2>
	<div ng-repeat="entry in vm.alltime track by $index">
		<div class="row row-first" ng-show="$index == 0">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-second" ng-show="$index == 1">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-third" ng-show="$index == 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row" ng-show="$index > 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
	</div>
</div>

<div class="scoreboard" ng-if="vm.recent">
	<h2>RECENT SCORES</h2>
	<div ng-repeat="entry in vm.recent track by $index">
		<div class="row recent">
			<div class="recent-left"><span ng-if="entry.name != 'no name'">{{ entry.name }} --- </span>{{ entry.score }}</div>
			<div class="recent-right">{{ entry.time }}</div>
		</div>
	</div>
</div>

<p class="divider">----- (^v^*) -----</p>

<div id="info">
	<h2><a href="http://anythingbut.me/projects/tetris.md" target="_blank">Visit the project's page here :)</a></h2>
</div>

<p class="divider">----- \(^o^)/ -----</p>

<div id="footer">
	<p>Made by Duy Nguyen aka <a href="https://github.com/ferb96" target="_blank">ferb96</a> Oct 2017.</p>
</div>
