<div id="errorbox" ng-if="vm.error">
	{{ vm.error }}
</div>

<div id="thankyoubox" ng-if="vm.justPlayed">
	<p>--- GAME OVER ---</p>
	<p>THANK YOU FOR PLAYING</p>
	<p>YOUR SCORE IS<br/ >{{ vm.score }}</p>

	<div id="inputbox" ng-if="vm.justPlayed">
		<p>ENTER YOUR NAME FOR HIGHSCORE</p>

		<form name="vm.nameInputForm" ng-submit="vm.addScore()">
			<input type="text" placeholder="Enter name" ng-model="vm.nameField" autocapitalize="none" maxlength=15>
			<button type="submit">Save</button>
		</form>
	</div>

	<p><< or <button class="nobutton" ng-click="vm.playAgain()">PLAY AGAIN</button></p>

</div>

<div id="thankyoubox" ng-if="!vm.justPlayed">
	<p>WELCOME TO TETRIS</p>
	<p><a href="/" target="_self">&lt;&lt; CLICK HERE TO PLAY</a></p>
</div>

<p class="divider">----- (*^v^) -----</p>

<div class="scoreboard" ng-if="vm.weekly">
	<h2>WEEKLY HIGHSCORE</h2>
	<div ng-repeat="entry in vm.weekly track by $index">
		<div class="row row-first" ng-show="$index == 0">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-second" ng-show="$index == 1">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-third" ng-show="$index == 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row" ng-show="$index > 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
	</div>
	<p>Weekly scores will be reset {{ vm.nextUpdate }}</p>
</div>

<div class="scoreboard" ng-if="!vm.weekly">
	<h2>WEEKLY HIGHSCORE</h2>
	<p>There isn't any weekly scores (yet)!</p>
</div>

<div class="scoreboard" ng-if="vm.alltime">
	<h2>ALLTIME HIGHSCORE</h2>
	<div ng-repeat="entry in vm.alltime track by $index">
		<div class="row row-first" ng-show="$index == 0">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-second" ng-show="$index == 1">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row row-third" ng-show="$index == 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
		<div class="row" ng-show="$index > 2">
			<div class="name">{{ $index+1 }}. <span ng-class="entry.name == 'no name' ? 'noname' : ''">{{ entry.name }}</span></div>
			<div class="score">{{ entry.score }}<br /><span class="time">{{ entry.time }}</span></div>
		</div>
	</div>
</div>

<p class="divider">----- (^v^*) -----</p>

<div id="info">
	<h2>Q: Help! My game froze!! And also it is slow as hell!!1</h2>
	<p>A: Get a better device (&#47;s)</p>
	<p>No, just kidding. There are numerous reasons behind why the game freezes and slows. The drawback of having the game available on any type of device is that it doesn't really work that well. The game seems simple, but actually uses quite a chunk of resources, especially GPU rendering. So I suggest playing it in a more powerful device. If your laptop's too old, your smartphone might fare better, or vice versa. It also depends a lot on your OS and your browser. I test the game using Chrome, so I can only guarantee it works the best on Chrome. If you aren't using Chrome, try that out for a change.</p>
	<p>Sorry for any lost highscore you might have. After all ... I'm still a full-time student ... I'm poor and busy as heck :'(. I wish I have enough time to debug every nook and cranny of this game. If it really triggers you though, shoot me a rant email to fduy96(at)gmail(dot)com. Remember to include your device name, operating system you're using, browser you're using, and how did it freeze (when you pressed the down button for example). Screenshot is also helpful.</p>

	<h2>Q: I forgot to save my highscore, can I come back and do it?</h2>
	<p>A: Yes you can! After a game, the score you get is saved on the machine that game is played. It is only cleared when you either save the score, play a new game, or clear your browser cache/cookie. If you forgot to save, or for example the game freezes AFTER you finish playing, simply go to <a href="http://tetris.anythingbut.me/highscore.html" target="_self">the highscore page</a> to save it.</p>

	<h2>Q: Yo I found a bug ...</h2>
	<p>Great!! No software is without bugs. Please tell me more of what it is and how you find it. Contact me at fduy96(at)gmail(dot)com. You can also put up an issue on the <a href="https://github.com/ferb96/html5tetris" target="_blank">GitHub project page</a>.</p>

	<h2>Q: It would be so dope if you add this XYZ feature</h2>
	<p>Dude, I would love to hear out your ideas. Shoot me an email fduy96(at)gmail(dot)com. Or open up an issue on the <a href="https://github.com/ferb96/html5tetris" target="_blank">GitHub project page</a>.</p>

	<h2>Q: How does scoring and the level system work?</h2>
	<p>A: Although I have made effort to make the game as closely to the original as possible, I have implemented my own scoring system, in hope that it will provide players with a challenging and fun game while keeping the game sweet and short.</p>
	<p>Scores are awarded each time a player &quot;Lock in&quot; a tile, depending on how far away the tile is from the bottom. So the earlier you &quot;Lock in&quot;, the more scores you get.</p>
	<p>One-line clear awards you 100 points. Two-line clear is 250. Three-line clear is 500. Four-line clear is 800. Consecutive, back-to-back line clears awards you 250 points each time.</p>
	<p>Players start off at level 1 with a delay of 1500miliseconds of tile falling, and a score multiplier of 1. The delay gets shorter and the multiplier get higher in subsequent levels</p>
	<p>Level 2 is at 3000 points. Falling delay is 1000ms. Score multiplier is 1x.</p>
	<p>Level 3 is at 6000 points. Falling delay is 750ms. Score multiplier is 2x.</p>
	<p>Level 4 is at 11000 points. Falling delay is 650ms. Score multiplier is 2x.</p>
	<p>Level 5 is at 16000 points. Falling delay is 600ms. Score multiplier is 3x.</p>
	<p>Level 6 is at 22000 points. Falling delay is 550ms. Score multiplier is 3x.</p>
	<p>Level 7 is at 27000 points. Falling delay is 500ms. Score multiplier is 4x.</p>
	<p>Level 8 is at 34000 points. Falling delay is 450ms. Score multiplier is 4x.</p>
	<p>Level 9 is at 41000 points. Falling delay is 400ms. Score multiplier is 5x.</p>
	<p>Level 10 is at 49000 points. Falling delay is 350ms. Score multiplier is 5x.</p>
	<p>Level 11 is at 60000 points any subsequent 10000 points is another level. Falling delay is constant at 300ms. Score multiplier is constant at 6x.</p>
	<p>The first 10 levels, tile generation is heavily biased towards generating more i-tile (the longest tile) and l-tile and j-tile, as well as t-tile. From level 15 and onward, tile generation slowly become non-biased and all tiles have the same chance of appearing.</p>
</div>

<p class="divider">----- \(^o^)/ -----</p>

<div id="footer">
	<p>Made by Duy Nguyen aka <a href="https://github.com/ferb96" target="_blank">ferb96</a> Oct 2017. Licensed under MIT License. Visit my homepage at <a href="http://anythingbut.me" target="_blank">anythingbut.me</a></p>
</div>
